<h1>All Questions</h1>
<div class="row">
  <div class="col-md-6">
    <% @questions.each do |question| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
              <%= link_to question.title, question %>
          </h4>
        </div>
      </div>
  </div>
  <div class="col-md-4">
      <% if question.resolved %>
          Resolved
      <% else %>
          Not Resolved
      <% end %>
  </div>
  <% end %>
</div>
