<h1>All Questions</h1>
<table>
  <% @questions.each do |question| %>
  <tr>
    <td>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
              <%= link_to question.title, question %>
                  - 
              <% if question.resolved == true %>
                  Resolved
              <% else %>
                  Not Resolved
              <% end %>
          </h4>
        </div>
      </div>
  </td>
</tr>
<% end %>
</table>
