<h1>Welcome#contact</h1>
<p>Find me in app/views/welcome/contact.html.erb</p>

<h2>Say Hello!</h2>
<p>Reach out and let me know what you think. This app is a work-in-progress, with many exciting coding challenges along the way. I'd love to hear what you think of my progress!</p>
<br>
<h3>Email</h3>
<p>email@email.com</p>
