.social-btn {
  display: block;
  text-align: center;
  font-family: "Impact", Arial, Helvetica;
  font-size: 20px;
  border: 2px solid #6495ed;
  border-radius: 15px;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  height: 100px;
  width: 100px;
  background-color: #f0f8ff;
}
