<% if current_user %>
  <div class="pull-left">
    <div><%= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-chevron-up', method: :post, remote: true %></div>
    <strong>
      <div id="post-votes-<%= post.id %>">
        <%= post.points %>
      </div>
    </strong>
    <div><%= link_to " ", post_down_vote_path(post), class: 'glyphicon glyphicon-chevron-down', method: :post, remote: true %></div>
  </div>
<% end %>
